.l-footer{
	background-color: #F9F6F3;
}

//ウィジェットエリア
.l-footer-widget-area{
	padding-top: px_to_rem(30);
	padding-bottom: 0;
	border-top: none;
	.c-row{
		margin-bottom: 0;
	}
}
.l-footer-widget-area__item:not(:root){
	margin-bottom: 0 !important;
	a{
		text-decoration: none;
		color: var(--_color-text,#333);
	}
}

//コピーライト
.c-copyright{
	display: flex;
	justify-content: center;
	padding: px_to_rem(20);
	background-color: unset;
	font-size: px_to_rem(12);
	color: var(--_color-text,#333);
}