.rje-r002lp-a_prev_next_nav{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: px_to_rem(64);
	border-top: 1px solid #999;
}

.rje-r002lp-a_prev_next_nav__item{
	display: flex;
	min-width: px_to_rem(110);
	&--next{
		padding-right: px_to_rem(24);
		@include mq(lg){
			padding-right: px_to_rem(60);
		}
		
	}
	&--prev{
		padding-left: px_to_rem(24);
		@include mq(lg){
			padding-left: px_to_rem(60);
		}
	}
	a{
		color: var(--_color-text,#333);
		text-decoration: none;
		&:hover{
			opacity: 0.5;
		}
	}
	i{
		&.--left{
			margin-right: px_to_rem(20);
		}
		&.--right{
			margin-left: px_to_rem(20);
		}
	}
}