.rje-r002lp-a_related_posts__subtitle{
	@include smb-section-subtitle;
	font-size: 0.75rem;
	color: var(--accent-color, #cd162c);
	&::after{
		margin-left: 0;
	}
}
.rje-r002lp-a_related_posts__title{
	@include smb-section-title;
	margin-bottom: 2rem;
	@include mq(lg){
		margin-bottom: 3rem;
	}
}